<div class="container" style="padding-top: 60px;" ng-controller="find-address as profile">
    <h1 class="page-header white-stylish-text">Find Address</h1>

    <div class="row">
        <!-- left column -->
        <div class="col-md-4 col-sm-6 col-xs-12">

            <div class="text-center">
                <img class="avatar img-circle img-thumbnail" ng-src="../../images/address-search.png">
            </div>

        </div>

        <!-- edit form column -->
        <div class="col-md-8 col-sm-6 col-xs-12 personal-info" ng-init="profile.toCreateAddress = false;">

            <div ng-hide="profile.toCreateAddress" auto-close="outsideClick">
                <label class="col-md-3 control-label white-stylish-text-big">Locate Address:</label>

                <div class="col-md-8" role="menu">
                    <div class="bar">
                        <input type="search" ng-model="searchFilter" placeholder="Search" style="width: 100%"/>
                    </div>

                    <ul ng-show="searchFilter && searchFilter != ''">
                        <li ng-repeat="address in profile.addresses | unique:'address.city' | unique:'address.state' | unique:'address.zipCode' | filter: searchFilter">
                            <a ng-click="profile.selectEntity(address);">{{ address.city + ',' + address.state + ',' + address.zipCode }}</a>
                        </li>
                    </ul>
                </div>

                <label class="white-stylish-text" ng-click="profile.toCreateAddress = true">can't find address, create one</label>
            </div>

            <form ng-show="profile.toCreateAddress" class="form-horizontal" role="form" ng-submit="profile.createAddress()">

                <div class="form-group">
                    <label class="col-lg-3 control-label white-stylish-text">Address line:</label>
                    <div class="col-lg-8">
                        <input class="form-control" ng-model="profile.newAddress.line" type="text">
                    </div>
                </div>

                <div class="form-group">
                    <label required class="col-lg-3 control-label white-stylish-text">City:</label>
                    <div class="col-lg-8">
                        <input class="form-control" ng-model="profile.newAddress.city" type="text">
                    </div>
                </div>

                <div class="form-group">
                    <label required class="col-md-3 control-label white-stylish-text">State:</label>
                    <div class="col-md-8">
                        <select required ng-model="profile.newAddress.state" ng-options="x for x in profile.states"/>
                    </div>
                </div>

                <div class="form-group">
                    <label required class="col-lg-3 control-label white-stylish-text">Zipcode:</label>
                    <div class="col-lg-8">
                        <input class="form-control" ng-model="profile.newAddress.zipCode" type="number">
                    </div>
                </div>

                <div class="form-group">
                    <label required class="col-lg-3 control-label white-stylish-text">Country Code:</label>
                    <div class="col-lg-8">
                        <label class="form-control"> {{ profile.newAddress.countryCode }}</label>
                    </div>
                </div>

                <div class="form-group text-center">
                    <label ng-if="profile.message">{{ profile.addressMessage }}</label>
                </div>

                <div class="form-group">
                    <label class="col-md-3 control-label"></label>
                    <div class="col-md-8">
                        <button class="btn btn-lg btn-primary" type="submit" role="button">Save Address</button>
                        <span/>
                        <input class="btn btn-default" value="Cancel" type="button" ng-click="find-address-post-bid">
                    </div>
                </div>

            </form>

        </div>
    </div>
</div>