<div class="container" style="padding-top: 60px;" ng-controller="post-bid as profile">
    <h1 ng-hide="profile.successfulPosting" class="page-header white-stylish-text">Post new  Bid</h1>
    <h1 ng-show="profile.successfulPosting" class="page-header white-stylish-text">Bid posted successfully !</h1>

    <div class="row">
        <!-- left column -->
        <div ng-hide="profile.successfulPosting" class="col-md-4 col-sm-6 col-xs-12">

            <div class="text-center">
                <img class="avatar img-circle img-thumbnail" ng-src="../../images/bid-icon.jpg">
            </div>

        </div>

        <!-- edit form column -->
        <div class="col-md-8 col-sm-6 col-xs-12 personal-info">

            <form ng-hide="profile.successfulPosting" class="form-horizontal" role="form" ng-submit="profile.postBid()">

                <div class="form-group">
                    <label class="col-md-3 control-label white-stylish-text">Apartment Type:</label>
                    <div class="col-md-8">
                        <select required ng-model="profile.bid.apartmentType" ng-options="x for x in profile.apartmentTypes"/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-lg-3 control-label white-stylish-text">Price:</label>
                    <div class="col-lg-8">
                        <input required class="form-control" ng-model="profile.bid.price" type="number">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-lg-3 control-label white-stylish-text">From Date:</label>
                    <div class="col-lg-8">
                        <input required class="form-control" ng-model="profile.bid.fromDate" type="date">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-lg-3 control-label white-stylish-text">To Date:</label>
                    <div class="col-lg-8">
                        <input required class="form-control" ng-model="profile.bid.toDate" type="date">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-lg-3 control-label white-stylish-text">Comments:</label>
                    <div class="col-lg-8">
                        <input required class="form-control" ng-model="profile.bid.comments" type="text">
                    </div>
                </div>

                <div class="form-group text-center">
                    <label ng-if="profile.message">{{ profile.message }}</label>
                </div>

                <div class="form-group">
                    <label class="col-md-3 control-label"></label>
                    <div class="col-md-8">
                        <button class="btn btn-lg btn-primary" type="submit" role="button">Post Bid</button>
                        <span/>
                        <input class="btn btn-default" value="Cancel" type="button" ng-click="profile.goBackToProfile()">
                    </div>
                </div>

            </form>

            <div ng-show="profile.successfulPosting">
                <img class="ng-enter col-lg-3 control-label" ng-src="../../images/bid-posted.png" ng-view>
            </div>
        </div>
    </div>
</div>