<link href="../../css/user-profile.css" rel="stylesheet">
<div class="container left" ng-controller="pass-profile as profile">
    <div class="row">
        <label >{{ profile.user.email }}</label>
        <div class="col-lg-3 col-sm-6">

            <div class="card hovercard">
                <div class="cardheader">

                </div>
                <div class="avatar">
                    <img alt="" src="http://lorempixel.com/100/100/people/9/">
                </div>
                <div class="info">
                    <div class="title">
                        <p>Script Eden</p>
                        <p id="link"><a class="btn btn-lg btn-primary" ui-sref="edit-profile({ userInfo : profile.user })">Edit profile</a></p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
